<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Transactions</h1>
    <table>
        <thead>
            <tr>
                <th>Account</th>
                <th>Date</th>
                <th>Transaction Type</th>
                <th>Number</th>
                <th>Name</th>
                <th>Location</th>
                <th>Class</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Balance</th>
                <th>Posting</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction['account'] }}</td>
                <td>{{ transaction['date'] }}</td>
                <td>{{ transaction['transaction_type'] }}</td>
                <td>{{ transaction['number'] }}</td>
                <td>{{ transaction['name'] }}</td>
                <td>{{ transaction['location'] }}</td>
                <td>{{ transaction['class'] }}</td>
                <td>{{ transaction['description'] }}</td>
                <td>{{ transaction['amount'] }}</td>
                <td>{{ transaction['balance'] }}</td>
                <td>{{ transaction['posting'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
